@font-face {
  font-family: "OpenSans Light";
  src: url("../res/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../res/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../res/fonts/OpenSans-Bold.ttf");
}
body {
  font-family: "OpenSans Regular";
}
